/* CSS declarations go here */
.add-btn{
	margin-top: 8px;
    margin-left: 10px;
}

.modal-text-margin{
	margin-top: 5px;
}

.carousel-indicators{
	display: none;
}

.carousel-height{
	height: 90px;
}
.carousel-control.left, .carousel-control.right {
    background-image: none
}
.tags{
	margin-top: 50px;
}
.title-height{
	height: 25px;
}

.panel-height{
	height: 180px;
}

.count-badge{
  padding-left:0;
  padding-right:0;
}
